
/* Main Container */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}




#siteContainer {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #6B6E70;

}


.hidden{
display: none;
}

/* NAV */

.navbar{
background: #222629;
height: 180px;
display: flex;
max-width: 1200px;
justify-content: center;
align-items: center;
font-size: 1.3rem;
/*change this font family*/

position: sticky;
top: 0;
z-index: 999;
}

.navbar ul a
{
  font-family: 'teko', helvetica, sans-serif;
  font-size: 28px;
  margin-right: 78px;
  margin-top: 80px;
}

.navbar_container{
display: flex;
justify-content: space-between;
z-index: 1;
width: 100%;

padding: 0 40px;
}

#nav_logo{
    display: flex;
    width: 80%;
    align-items: center;
    cursor: pointer;
}

.navbar_menu{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.navbar_menu_item{
    color: white;
    text-decoration: none;
    width: 100%;
    line-height: 1.5rem;

}

.navbar_menu a:hover {
    color:  #86C232;
}




/*Main Video*/
.promoVid
{
    max-width: 1200px;
    width: 100%;
    margin-top: 50px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.team_box{
    display: flex;
    justify-content: center;
}

.team_box_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.team_box_hero:hover{
    opacity:0.6
}

.team_box_js{
    display: flex;
    align-items: left;
    justify-content: left;
}

.team_box_images{
    display: flex;
    align-items: center;
    width: 300px;
    height: min-content;
    /* border-radius: 10px; */
    margin: 50px;
}

.team_box_bio{
    display: flex;
    margin: 70px 50px;
    /* change font family */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: white;
}


.portHeading{
  font-family: 'Teko', helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;

  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 70px;
  margin-left: 70px;
  color: white;
  background-color: #62893C;
  padding: 20px;
}

.portCon {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 1200px;

}

.port{
  position: relative;
  width: 400px;
  margin-left: 50px;
}

.image {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-bottom: 40px;
}

.image_overlay {
    position: absolute;

    font-family: 'Teko', Helvetica, sans-serif;

    transition: opacity 0.25s;}

.image--blur {
    backdrop-filter: blur(5px);
}



.image > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;

  text-align: center;
}

.portCon:hover .image {
  opacity: 0.3;
}

.portCon:hover .middle {
  opacity: 0.7;
}

.text {
  background-color: black;
  color: white;
  font-family: 'kito', Arial, sans-serif;
  font-size: 16px;
  margin-right: 200px;

}

.team_headshot_img img{
  margin-top: 30px;
  margin-left: 70px;
}

.team_headshot_text {
  display: flex;
  flex-direction: row;
  font-family: 'Teko', helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;

}
.team_headshot_text p{
  margin-top: 20px;
  margin-left: 83px;
}

.contactWrap
{
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row

}

.formWrap
{

  height: 100%;
  margin-left: 200px;
  margin-top: 45px;


}



input[type=submit] /*button*/
{
font-family: 'teko', Arial, sans-serif;
border-radius: 28px;
font-size: 24px;
padding: 10px;
cursor: pointer;
margin-top:30px;
margin-left: 220px;
background-color: #04306A;
color: white;


}

.formWrap h2
{
  font:  32px 'teko', Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.formWrap p
{
  font-family: 'kito', Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 20px;

}

#contactForm
{
  font-family: 'kito', Arial, sans-serif;

  font-size: 20px;
  color: white;
  margin: auto;

}

#contactForm label{
  margin-top: 25px;
  margin-left: 100px;
  text-align: left;
}

#contactForm input{
  margin-left: 40px;
  margin-bottom: 45px;
}




/* FOOTER */

.footer_container{
    background: #222629;
    height: 180px;
    width: 100%;
    max-width: 1200px;
    /*change font later */
    font-family: Arial, Helvetica, sans-serif;
}

.footer_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    }



.footer_nav_menu{
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.footer_nav_item{
    color: #6b6e70;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.footer_nav_item:hover {
    color:  #86C232;
}

.copyright{
    font-size: 1rem;
    color: #474b4f;
    display: flex;
    justify-content: center;
}

/*FEATURE PAGE*/

/* Styles for Feature Page ONLY */

.projectHeader {
  font-family: 'Teko', helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFAFA;
}

.projectPara {
  font-family: 'Kiro', helvetica, sans-serif;
  font-size: 22px;
  margin-bottom: 18px;
  color: #FFFAFA;
}

.mainPromo {
  margin: 0px 150px 100px 150px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;

}

.featureImage{
  margin-left: 100px;
  display: inline;

}

.portfolio_feature2 {

}

.portfolio_feature2_img{
  margin: 0px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.team_headshot_img img{
  margin-top: 30px;
  margin-left: 70px;
}

.team_headshot_text {
  display: flex;
  flex-direction: row;
  font-family: 'Teko', helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;

}
.team_headshot_text p{
  margin-top: 20px;
  margin-left: 83px;
}

.contactWrap
{
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row

}

.formWrap
{

  height: 100%;
  margin-left: 200px;
  margin-top: 45px;


}



input[type=submit] /*button*/
{
font-family: 'teko', Arial, sans-serif;
border-radius: 28px;
font-size: 24px;
padding: 10px;
cursor: pointer;
margin-top:30px;
margin-left: 220px;
background-color: #04306A;
color: white;


}

.formWrap h2
{
  font:  32px 'teko', Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.formWrap p
{
  font-family: 'kito', Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 20px;

}

#contactForm
{
  font-family: 'kito', Arial, sans-serif;

  font-size: 20px;
  color: white;
  margin: auto;

}

#contactForm label{
  margin-top: 25px;
  margin-left: 100px;
  text-align: left;
}

#contactForm input{
  margin-left: 40px;
  margin-bottom: 45px;
}
/* Contact form ends */

/* MEDIA FOR TABLET */
@media screen and (max-width: 768px) {
  .mainPromo{
    margin: 0px 50px 25px 50px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
  }

  .projectHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .projectPara {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .featureImage{
    margin-left: 40px;
  }

  .portfolio_feature2_img{
    margin: 0px 50px 25px 50px;
    display: flex;
    flex-direction: row;
  }


}/* end of media for Tablet */

/* FUNCTIONS FOR SECONDARY IMAGES HOVER */
.seconImage {
    position: relative;
    width: 500px;
    margin-left: 50px;
}

.seconImageLeft {
    position: relative;
    width: 500px;
    margin-left: 0px;
}

.image_pic {
    display: block;
    width: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: 'Kiro', helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image_overlay--blur {
    backdrop-filter: blur(5px);
}

.image_overlay-mainBack {
    background: #009578;
}

.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.image_head {
    font-size: 24px;
    font-weight: bold;
}

.image_text {
    font-size: 16px;
    margin: 10px 20px 20px 20px;

}
/* FUNCTIONS FOR SECONDARY IMAGES HOVER ENDS*/

/* FUNCTIONS FOR MOBILE*/
@media screen and (max-width: 428px) {
  .mainPromo{
    margin: 30px 35px 15px 35px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .featureImage{
    margin-left: 0px;
    margin-top: 25px;
    display: block;

  }

  .projectHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .projectPara {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .portfolio_feature2_img{
    margin: 0px 15px 15px 15px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }


  .image_pic {
      display: block;
      width: 60%;
  }

  .seconImage {
      position: relative;
      width: 500px;
      margin-left: 0px;
      margin-top: 50px;
  }

  .seconImageLeft {
      position: relative;
      width: 500px;
      margin-left: 0px;
      margin-top: 50px;
  }

  .image_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #ffffff;
      font-family: 'Kiro', helvetica, sans-serif;
      font-weight: lighter;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.25s;
  }


}
/* FUNCTIONS FOR MOBILE ends*/
